.App {
  text-align: center;
}

body{
  font-family: "Open Sans", Arial, sans-serif;
  background: #fafafa;
  color: #34495E;
}

.navbar{
  background: #F4F6F7;
}

#navbar{
  background: transparent;
}

#content{
  margin-top: 70px;
  height: 100%;
  width: 100%;
  border: none;
}

#social-network{
  font-size: 28px;
}

#social-network > a{
  list-style: none;
}

.fa-facebook-square{
  color: #3b5998;

}
.fa-github-square{
  color: black;
}
.fa-instagram{
  color: #C13584;
}
.fa-twitter-square{
  color: #00acee;
}

.fa-youtube{
  color:#c4302b;
}

.nav-link{
  color: #8cc053 !important;
}

.btn-primary{
  background: #244e5a !important;
  border: none;
  font-weight: bold;
}

.btn-primary:hover{
  cursor: pointer;
}

ul li:hover{
  background: #8cc053;
  color: white;
  border-radius: 10px;
}

.nav-link:hover{
  color: white !important;
}

#title1{
  font-size: 60px;
  letter-spacing: 3px;
  color: #244e5a;
}

#hr{
  width: 300px;
}

@media(min-width : 300px) and (max-width : 730px){
  #content-img{
      display: none;
  }

  #title1, h1{
    font-size: 34px;
  }
} 
